<div class="notification">
  <% @clients.each do |i| %>
    <div class="row m-0 border-top border-bottom">
      <div class="row m-0 main2 align-items-center">  
      </div>
        <div class="notification-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div>
    </div>  
  <% end %>
</div>